name: Continuous Integration - Tests

on:
  push:
    paths:
      - ".github/workflows/tests.yml"
      - "**/*.py"
      - "tests/fixtures/**"
  pull_request:
    paths:
      - ".github/workflows/tests.yml"
      - "**/*.py"
      - "tests/fixtures/**"
  workflow_dispatch:

concurrency:
  group: tests-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Set up Python
        uses: actions/setup-python@v6.2.0
        with:
          python-version: "3.14"

      - name: Run tests
        run: python -m unittest discover -s tests -v
